[10:44 pm, 18/05/2022] Sagar: toort java.util.Scanner; 
patic Class hrase ngryston (

punktestati: Scaer tnput new Scammerstow, SH); publice static string agains
public static Le choose, quantity;
public static double total pay pukile static vold
System.out.printing sti
System.out.printing tititi 1 HIAT
System.out.printinterest 2 JAAR
System.out.println(int 3. ALDE
Tysten out.printinititi
4 System.out.println("Fress 1 to west Press 2 to Sue, Press 3 to RICE and Press & to Cancel"); System.out.print(Press you want to buy?:");
System.out.printintvu choose WHEAT"); System.out.print(ou any to seEAT you want to Buy?"");
quantity input.nextInt(); total total +(quantity*5);
System.out.println("you want to buy again!"
System.out.println(Press for Ves and N. For IPS
5. 40.
40.00 32
again input.next();
if(again.equalsIgnoreCase("")){ order();
Jelsef
System.out.println("Enter a payment ");
pay input.nextDouble(); if(pay <stotal){
System.out.println("Not enough payment"); }else{
System.out.println("Total price is + total); total pay-total; System.out.println("The change is + total);
Jelse if(choose-2)
System.out.println("You choose JANAR"); System.out.print("How many KG JAWAR you want to Buy? :");
quantity input.nextInt (); total total +(quantity*40);
System.out.println("You want to buy again? ");
System.out.println("Press Y for Yes and 1 for N: ");
again input.next();
if(again.equalsIgnoreCase("")){
order();
System.out.println("Enter a payment "); pay input.nextDouble(); if(pay <stotal)
{
System.out.println("Not enough payment");
else{ System.out.println("Total price is + total); total pay-total; System.out.println("The change is + total); 
}
}
Jelse if(choose==³){ System.out.println("You choose RICE");
System.out.print("How many KG RICE you want to Buy?:"); quantity input.nextInt(); System.out.println("You want to buy again? "); System.out.println("Press Y for Yes and N for N: ");
total total +(quantity*30);
again input.next();
if(again.equalsignoreCase())
{
order();//call the method you to create
}else
{
System.out.println("Enter a payment "); pay input.nextDouble();
if(pay <=total){
System.out.println("Not enough payment");
}
else
{
System.out.println("Total price is " + total); total pay-total; System.out.println("The change is " + total);
}
}
Jelse if(choosew)
{
System.exit(0);//close program
System.exit(0);//close program
Jelsef System.out.println("Choose 1 to 4 only!");
order();
} 
public static void main(String[] args)
 {
menu();
order();
}
